<h1><%= @campaign.school %></h1>
<h2>Amount raised: $<%= @campaign.amount %></h2>

<% if @matching_rules.length > 0 %>
  <h3>Matching donations</h3>
  <ul>
    <% for rule in @matching_rules %>
      <li>Donor: <%= rule.donor %>, Cap: <%= rule.cap %>, Total donated: <%= rule.total %>, Type: <%= rule.type_match %>, Amount per donation: <%= rule.fixed_per_donation %>, Ratio: <%= rule.ratio %>, Start Date: <%= rule.start_date %>, End Date: <%= rule.end_date %></li>
    <% end %>
  </ul>
<% else %>
  <p>There are currently no matching donations.</p>
<% end %>
<% if @donations.length > 0 %>
  <h3>Donations</h3>
  <ul>
    <% for donation in @donations %>
      <li>Donor: <%= donation.name %>, amount: <%= donation.amount %>, date: <%= donation.date %></li>
    <% end %>
  </ul>
<% else %>
  <p>This campaign just started.  Be the first to donate!</p>
<% end %>

<p><%= link_to "Make donation", new_campaign_donation_path(@campaign) %></p>
<p><%= link_to "Be a matching partner", new_campaign_matching_rule_path(@campaign) %></p>
